* {
  box-sizing: border-box;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  margin: 0px;
}

:root {
  --font-primary:font-family: 'Rubik', sans-serif;
  --text-color-menu:#4a4a4a;
  --main-color:#3CDBC0;
  --text-color-main:#FFFFFF;
}

.mainSection {
    background-color:var(--main-color) ;
    color: var(--text-color-main);
    
}
